* {
  box-sizing: border-box;
  text-align: center;
}

body {
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
 color: #777;
 background: #777;
 width: 960px;   /* makes it non responsive */
 font-size: 18px;
}

/* code {  	this can also be added to the html in the header tag with <code>.
  border-radius: 9px;  
  display: block; 
  padding: 25px 15px;
  text-align: center; 
} */

header {
  margin-bottom: 0; 
  background-color: #ebebeb;
  border-radius: 9px;  
  display: block; 
  padding: 25px 15px;
  text-align: center;
}

nav {
  margin-bottom: 0; 
  background-color: #e5e5e5;
  border-radius: 9px;  
  display: block; 
  padding: 25px 15px;
  text-align: center;
}

header,
nav,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}

section {
  float: left;
  /* width: 63%; */
  width: 495px;
}

#top {
  width: 495px; /* makes it non responsive */
  width: 52%;
  overflow: auto;
  color: black;
  background-color: #e5e5e5;
  border-radius: 9px;  
  display: block; 
  padding: 25px 15px;
  text-align: center;
}
/* Using z-index to control the stack order */
#second {
  z-index: 4;
  background-color: darkgrey;
  padding: 40px 20px 20px;
}

#division,
#division2 {
  padding: 15px;
  margin-top: 20px;
  background: #ebebeb;
  color: #777;
  /* height: 48px; */
}

#division {
  z-index: 6;
}

#division2 {
  z-index: 1;
}

article {
  margin-top: 35px; 
  margin-bottom: 20px;
  margin-left: 20px;
  float: left;
  width: 90%;
  /*padding: 5px 10px; */
  text-align: center;
  background-color: #ebebeb;
  color: #ebebeb; 
  height: 270px;
  border-radius: 9px;  
  display: block; 
  padding: 25px 15px;
  text-align: center;
}

aside {
  float: right;
  width: 41%;
  background-color: #ebebeb;
  height: 396px;
  border-radius: 9px;  
  display: block; 
  padding: 25px 15px;
  text-align: center;
}

footer {
  clear: both;
  margin-bottom: 0; 
  background-color: #ebebeb;
  border-radius: 9px;  
  display: block; 
  padding: 25px 15px;
  text-align: center;
}