* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* */


/* */
/* Style the header */
header {
  background-color: #777;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px;  only for demonstration, should be removed 
}


/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px;  /*only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}


/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

.main-nav li
{
	display: inline-block;
}


.main-nav li a
{
	color: white;
 	text-decoration: none;
	padding: 5px 20px;
	font-family: "Georgia", sans-serif;
	font-size: 25px;
}

.main-nav li.active a
{
border: 1px solid white;
}


/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
